<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>hello: %d{HH:mm:ss} [%class#%method{10}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>E:\log.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5thread] [%class#%method{10}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file" />
    </root>
</configuration>